@media screen and (max-width: 576px) {
    html{
        font-size: 5px;
    }
    
    
    }
    
    @media screen and (max-width: 768px) {
    html{
        font-size: 7.5px;
    }
    
    }
    
    @media screen and (max-width: 992px) {
    html{
        font-size: 9px;
    }
    
    }
    
    @media scrren and (max-width: 1200px) {
      html{
          font-size: 10px;
      }
    
    }